!!!
html
  head
    title= 'WFortin - Blog'
    meta(charset='utf-8')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Droid+Sans')
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href='/css/prettify.css')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
    script(src='/js/jquery.timeago.js')
    script(src='/js/prettify.js')
    script(src='/js/app.js')
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          a.brand(href='/') 
            img(src='/img/logo-small.png')
      .header-line
    .wrap
      .container
        .row
          .span9
            block content
          .span3
            .well.sidebar-nav
              ul.nav.nav-list
                li.nav-header categories
                - each cat in categoryList
                  li
                    a(href=categoryUrl(cat)) #{cat}
                li.nav-header tags
                - each tag in tagList
                  li
                    a(href=tagUrl(tag)) #{tag}
    script
      prettyPrint();